*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #f1f1f1; */
}
img{
    width: 100%;
}

section{
    padding: 20px 0;
}

.new-post-form{
    width: 58%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-post-form > div{
    width: 80%;
    margin-bottom: 0;
}
.new-post-form input{
    width: 90%;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    color: #222;
    border: none
}
.new-post-form input:focus{
    outline: none;
}
.new-post-form i{
    font-size: 28px;
    cursor: pointer;
}

#timeline{
    width: 50%;
    margin: 0 auto;
}
.timeline-header, .timeline-bottom{
    display: flex;
    align-items: center;
    gap: 10px;
}
.timeline-header{
    justify-content: space-between;
}
#timeline .card{
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.dropdown-toggle::after{
    display: none;
}
.dropdown-menu[data-bs-popper]{
    left: -20px;
}
.card .profile-image{
    width: 50px;
    border-radius: 50%;
}
.card .card-img-bottom{
    border-radius: 0;
}
#timeline hr{
    margin: 5px 0;
}
.post-engage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 10px;
}
.post-engage > div {
    border-right: 1px solid #222;
    width: 33%;
    text-align: center;
}
.post-engage > div:last-child{
    border-right: none;
}
.post-engage > div p{
    margin-bottom: 0;
}
.timeline-bottom{
    margin: 0 10px;
}
.timeline-bottom input{
    width: 90%;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 16px;
    color: #222;
    border: 1px solid #222;
}


@media (max-width: 991px) {
    .new-post-form, #timeline{
        width: 100%;
    }
    
}